@CHARSET "UTF-8";



html { font-size: 12px; } 

body { }
       
.container_of_lists{
	background-color: #88ffff;
	border: 1px solid;
	border-color: black;

}

.kanban_list {
	
	display: inline-block;
	vertical-align: top;
	width: 200px;
	border: 1px solid;
	border-color: black;
	margin: 10px;
}

.kanban_item {
	
	width: 160px;
	border: 1px solid;
	border-color: black;
	cursor: move;
	margin: 10px;
}



